<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Olá! </p>
    <p>A proposta <strong><%= @proposta.id %></strong> foi vetada.</p>
    <p><%= @proposta.descricao %></p>
    <p>O motivo do veto foi: <br>
      <strong><%= @veto.descricao %></strong>
    </p>
    <p>Tenha um bom dia!</p>
  </body>
</html>