<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo ao POP!!!!  <%= @user.email %></h1>
    <p>
      Seu cadastro foi realizado com sucesso  pop-lab-xp.heroku.com.
      O seu usuario é: <%= @user.email %>.<br>
    </p>
    <p>Tenha um bom dia!</p>
  </body>
</html>