<% content_for :title do %>
	Fale conosco
<% end %>

<div id="TituloTermosUso" >
	Fale conosco
</div>

<div id="conteudoFaleConosco">
<p><a href="mailto:indx.design@gmail.com?Subject=FaleConosco-POP" target="_top">Contate-nos por email: indx.design@gmail.com<a></p>

