<% content_for :title do %>
	Termos de uso
<% end %>

<div id="TituloTermosUso" >
	Termos de uso
</div>

<div id="ConteudoTermosUso">
 <p>Lorem ipsum dolor sit amet, mollis accumsan gravida dolor ligula rutrum, ut congue, mauris augue aliquam purus placerat urna, varius porta wisi. Lorem tempor mauris, vestibulum pulvinar quis, tristique tellus, venenatis egestas a id vitae, consequatur velit nisl ultrices euismod. Lacus id bibendum velit, ipsum nec montes, placerat quam sit nec neque, auctor integer elit nullam. Ut ligula tempus amet erat non, quis tempus wisi similique varius velit turpis, porttitor augue ornare. Id volutpat consequat aliquet, dolor quisque, libero ligula nascetur scelerisque, fusce neque nulla ligula fermentum, fringilla iaculis scelerisque vitae. Praesent vel mi consectetuer quam, commodo porta, in scelerisque scelerisque vitae arcu integer, vitae pellentesque et ultrices nec arcu hendrerit.</p>

<p>Aenean nulla mi enim tincidunt, montes tristique. Ut a in in tempor quam, ullamcorper dui faucibus curabitur in tempus, consequat et etiam, malesuada ut nibh vestibulum, laoreet mollis accumsan. Integer in nulla, tempor tortor fusce quis in in purus, venenatis etiam posuere ligula laoreet pellentesque, scelerisque nonummy faucibus sit, nec at. Nec in. Nulla suspendisse malesuada aenean, libero sem sem quis sem vestibulum nulla, congue fusce egestas imperdiet felis. Sociis sapien ipsum vestibulum, platea vel. Adipiscing quis id volutpat risus elit diam, lobortis in hendrerit nulla fringilla egestas gravida, aliquam nec eu ac fusce morbi, a nec. Eget nec, bibendum consequat praesent. Eget velit metus, donec tempor curae, felis massa iaculis integer fringilla bibendum, sit at at, curae nunc in aenean nibh tempora. Ut velit, suspendisse ullamcorper, nulla sed interdum magna nam eleifend est, ipsum ut quam lacus pede luctus sollicitudin. Conubia vehicula montes pellentesque est blandit, est adipiscing volutpat ipsum ac urna turpis, vel amet augue, praesent elit morbi turpis dolor ac, fringilla sed. Nibh proin justo praesent viverra nostra nunc.</p>
</div>
