<%
	@path = propostas_path
%>

<% content_for :title do %>
  POP | Bem Vindo!
<% end %>

<!-- Inserir imagem do logo POP-->
<!--<img id="logo_esc_gov" src="/assets/logo_escola_governo.jpg" >-->
<img id="logo_pop" src="/assets/logo_pop.jpg">
<div id="welcome_text">Bem Vindo ao <br>Painel de Opinião Popular!</div>
<img id="logo_indx" src="/assets/logo_indx.jpg" >

<script type="text/javascript">
	 setInterval(function(){ window.location.href = '<%= @path %>'; }, 3000);
</script>

