
<img id="logo" class="img-responsive"src="/assets/logo_pop.jpg"><br>
<form id="LoginForm" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-default center-block">Login</button> <br>
      <button id="RegisterButton" class="btn btn-default center-block">Cadastro</button><br>
	    <button id="PolicyTermsButton" class="btn btn-default center-block">Termos de uso</button>
    </div>
  </div>
</form>
