/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#salsichaMenu {
	width: 3em;
	height: 3em;
	margin: 1em;
	background-color: #FFF;
	color: #EC971F;
	border-style: none;
}

#masterPageNavBar {
	background-color: #EC971F;
	height: 5em;
}

#popBrand {
	color: #FFF;
	font-size: 2em;
}

.navbar-header {
	padding: 0.7em;
	font-weight: bold;
}

#botaoNovaPropostaNavBar {
	margin-top: 0.9em;
	margin-right: 5em;
	background-color: #EC971F;
	color: white;
	border-color: white;
	height: 2.5em;
	font-size: 1.25em;

}

#botaoNovaPropostaNavBar:hover {
	background-color: white;
	color: #EC971F;
}
