// Place all the styles related to the propostas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#TituloNovaProposta {
    font-size: 2.5em;
    text-align: center;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
}

button {
	width: 150px;
	margin: 20px;
}

#NovaPropostaForm {
	padding-right: 50px;
	padding-left: 50px;
}

#NovaPropostaForm textarea {
	resize: none;
}


@media screen and (max-width: 330px) {

	#NovaPropostaForm {
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media screen and (max-width: 1920px) {
	
	input {
		margin: 50px;
	}

	
}
@media screen and (max-width: 980px) {
	
	input {
		margin: 50px;
	}
}

@media screen and (max-width: 768px) {

	#TituloNovaProposta {
		font-size: 1.5em;
	}
}

.container {
	width: 100% !important;
}

.btn-warning {
	background-color: #FFF !important;
	border-color: #FFF !important;
	color: #333 !important;
}
.btn-danger {
	background-color: #FFF !important;
	border-color: #FFF !important;
	color: #333 !important;
}

#listaPropostaTitulo {
	font-size: 2.5em;
}

@media screen and (max-width: 768px) {
		
	#listaPropostaTitulo {
		font-size: 1.5em;
	}
}
