// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 100%;
}

#logo_esc_gov {
	width: 10em;
	display: block;
	margin: 0 auto;
	margin-top: 3em;
}

#logo_pop {
	width: 12em;
	margin: auto;
	display: block;
	margin-top: 8em;
	margin-bottom: 2em;
	
}

#logo_indx {
	display: block;
	margin: 0 auto;
	width: 8em;
}

#welcome_text {
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 17em;
	margin-bottom: 8em;
	font-size: 115%;
	font-weight: bold;
}
